.mtop{
    margin-top: 20px;

}
.white{
    color: white;
}
.font{
    font-size: 14px;
}
.wfull{
    width: 100%;
}
.mplace{
    margin: 10px 0px;
}
.hplace{
    height: 30px;
}
.w90{
    width: 100%;
}